[access]
	inheritFrom = Public-Plugins
[project]
	description = The batch plugin provides a mechanism for building and\n\
previewing sets of proposed updates to multiple\n\
projects/branches/refs that should be applied together. The\n\
focus of batch updates tend to be verification (by CI\n\
"systems).  The batch update service provides the tools to"\n\
build refs by merging changes to temporary “snapshot” refs,\n\
which can then be tested extensively, and finally submitted\n\
”as is\".
