[access]
	inheritFrom = Public-Plugins
[project]
	description = The batch plugin provides a mechanism for building and\npreviewing sets of proposed updates to multiple\nprojects/branches/refs that should be applied together. The\nfocus of batch updates tend to be verification (by CI\nsystems).  The batch update service provides the tools to\nbuild refs by merging changes to temporary “snapshot” refs,\nwhich can then be tested extensively, and finally submitted\n”as is\".
[access "refs/for/*"]
	addPatchSet = group Code Aurora Contributors
[access "refs/*"]
	owner = group Code Aurora Plugin Owners
